@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #333;
	line-height: 24px; 
	background: #fff;  /* fallback for old browsers */

}
h1 {
font-weight: 600;
    color: #4e4e4e;
    font-size: 20px;
}
a {
	cursor: pointer;
	color: #53871d;
}
.error {
	position: absolute;
	left: 53px;
	font-size: 10px;
	top: 27px;
	color: red;
}
.close {
	opacity: 1;
	color: #000;
}
body {
	overflow-x: hidden;
}
.body-part h3 {
	color: #018988;
	border-top: 1px solid;
	padding: 10px 0px;
}
.intro-image {
	background: url(../images/image1.jpg) no-repeat center bottom;
	background-size: cover;
	/* height: 100%; */
	height: 100vh;
	/* height: 707px; */
	background-attachment: fixed;
}

.subtitle-caption {
	font-weight: 400;
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 0;
	line-height: 25px;
	text-transform: capitalize;
}
.inner-page {
background: url(../images/ol-image1.jpg) no-repeat center top;
background-size: cover;

height: 300px;

}
.bg-am{background: url(../images/bg-amenities1.jpg) no-repeat center fixed;background-size: cover; padding: 30px; margin:20px 0;}
.modal-header{}
.color-primary {
	padding-right: 10px;
}
.bg-second {
	background: url(../images/bg-image1.jpg) no-repeat center;
	background-size: cover;
	padding: 30px;
}
.section-img {
	background: url(../images/ov-image.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}
.intro-text {
	font-family: 'Great Vibes', cursive;
	font-size: 42px;
	color: #fff;
	display: block;
	text-align: center;
	padding: 0px 0px 10px;
}
.h3, h3 {
	font-size: 18px;
	margin: 10px 0px;
	padding: 0px 0px 4px;
	color: #fff;
	font-weight: 800;
}
.wrapper-form h3 {
	font-size: 15px;
	margin: 1px -10px 14px -10PX;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	/* margin-bottom: 7px; */
	/* border-bottom: 1px solid #4d4e50; */
	background: #ec5387;
	/* text-transform: UPPERCASE; */
	/* background: #56ab2f; */  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to right, #a8e063, #56ab2f); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* BOX-SHADOW: -2px 4px 0px 0px #ed5387; */
}
.h2, h2 {
	font-size: 25px;
}
.navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
	border: none;
	box-shadow: none;
}
.navbar-brand>img {
	display: block;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #000000;
	font-weight: 500;
	letter-spacing: 0px;
	padding: 16px 10px;
	font-size: 14px;
	/* text-transform: uppercase; */
}
.navbar-brand {
	float: left;
	height: 55px;
	padding: 0px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #E91E63;
	background-color: transparent;
}
.is-sticky .navbar-default {background-color: #FFF!important;}
.is-sticky .navbar-default .navbar-nav>li>a {color: #000;}
.is-sticky  .navbar-default .navbar-nav>.active>a, .is-sticky .navbar-default .navbar-nav>.active>a:focus, .is-sticky  .navbar-default .navbar-nav>.active>a:hover {
	color: #8BC34A;
	background-color: transparent;
}
.wrapper-intro {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
}
.wrapper-main {
	/* padding: 0; */
	/* text-align: left; */
	/* position: absolute; */
	/* top: 0; */
	padding-top: 24px;
}
.adv {
	color: #fff;
	font-size: 16px;
	margin: 10px 0px;
	display: block;
	font-weight: bold;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
.adv:hover {
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 20px;
}
.big-text {
	font-size: 10px;
	margin: 0;
	padding: 0;
	display: block;
	/* padding-bottom: 5px; */
	color: #fff;
	line-height: initial;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
}
.ex-bold {
	font-size: 18px;
}
.wrapper-intro h1 {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin: 0px 0px 15px;
}
.wrapper-intro .ex-bold {
	font-weight: 900;
	font-size: 32px;
}
.normal-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}
.flat-text {
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    /* letter-spacing: 1px; */
    display: block;
    padding: 0;
}
.price {
	display: block;
	font-size: 18px;
	color: #CE1723;
	border-bottom: 1px dotted;
}
/*.input-group-addon {
	color: #000;
	background-color: transparent;
		border-bottom: 1px solid #dfdfdf;
}
.wrapper-form .form-control {
	color: #000;
	border: none;
	border-bottom: 1px solid #dfdfdf;
}*/
.wrapper-form .input-group-addon {
    color: #ffffff;
    /* border: none; */
    /* border-radius: 0px; */
    /* border-bottom: 1px solid; */
    /* border-right: 1px solid #9864a9!important; */
    background: #ec5387;
    }
.form-control {
	color: #000;
	border: 1px solid #dfdfdf;
	background: rgb(255, 255, 255);
}
.input-group-addon .fa {
	width: 14px;
	/* font-weight: 100; */
}
.wrapper-form {
	
padding: 10px 10px 0;
	
width: 250px;
	
display: table;
	
margin: 0;
	
box-shadow: 0px 0px 227px -66px #000;
	
/* height: 730px; */
	
float: right;
	
border-radius: 6px;
	
    background: rgba(255, 255, 255, 0.85);
	

	
/* box-shadow: 5px 6px 0 0 #4b761a; */
}
span.offer-div {
	margin-top: 80px;
	/* background: #2FA234; */
	color: #fff;
	display: block;
	padding: 15px 0px;
	font-size: 14px;
}
.list-inline>li {
	display: inline-block;
	padding-right: 4px;
	padding-left: 4px;
	font-size: 16px;
	color: #fff;
}
.form-group {
	margin-bottom: 12px;
}
.button-3d {
	color: #FFFFFF;
	background-color: #009E43;
	border-color: #009D42;
	/* box-shadow: 0px 4px 1px #1C7720; */
	text-transform: uppercase;
	letter-spacing: 0;
	font-weight: 500;
	margin: 4px 0px 10px;
	text-transform: none;
	font-size: 15px;
}
.new-icon {
	position: absolute;
	right: 11px;
	top: 2px;
	color: #fff;
	text-transform: uppercase;
	font-size: 9px;
	padding: 0px 8px;
	letter-spacing: 1px;
	border-radius: 3px;
	font-weight: normal;
	background: linear-gradient(165deg, #537f21, #51a70c);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	-o-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
 @-webkit-keyframes AnimationName {
 0% {
	background-position:50% 0%;}
 50% {
	background-position:51% 100%;}
 100% {
	background-position:50% 0%;}
}
@-moz-keyframes AnimationName {
 0% {
	background-position:50% 0%;}
 50% {
	background-position:51% 100%;}
 100% {
	background-position:50% 0%;}
}
@-o-keyframes AnimationName {
 0% {
	background-position:50% 0%;}
 50% {
	background-position:51% 100%;}
 100% {
	background-position:50% 0%;}
}
@keyframes AnimationName {
 0% {
	background-position:50% 0%;}
 50% {
	background-position:51% 100%;}
 100% {
	background-position:50% 0%;}
}
}
.button-3d:hover {
	color: #fff;
	background-color: #43BB48;
	border-color: #41BA46;
}
.button-3d:active {
	color: #fff;
	background-color: #43BB48;
	border-color: #41BA46;
}
.btn.focus, .btn:focus, .btn:hover {
	color: #fff;
	text-decoration: none;
	outline: 0!important;
}
.h4, h4 {
	font-size: 18px;
	color: #000;
	margin: 20px 0px;
	/* text-align: center; */
    /* background: #8C936B; */
    /* display: table; */
	padding: 6px;
}
li.call-us {
	padding: 17px 10px;
	color: #000;
	/* background: #2FA234; */
	font-weight: 500;
}
.footer-copy {
	font-size: 10px;
	margin-top: 300px;
	display: block;
	text-align: center;
	line-height: initial;
	margin-bottom: 20px;padding: 20px;
}
.section-img .wrapper-intro {
	padding: 30px 80px 30px 0px;
	text-align: left;
}
.section-img .wrapper-intro p {
	margin: 0 0 10px;
	font-size: 16px;
	color: #623D2D;
	text-align: justify;
	line-height: 30px;
}
.inner-section .wrapper-intro {
	padding: 85px 80px 30px 0px;
	text-align: left;
}
.inner-section .wrapper-intro p {
	margin: 0 0 10px;
	font-size: 16px;
	color: #623D2D;
	text-align: justify;
	line-height: 30px;
}
.inner-section .col-md-2 {
	border: 1px solid #dfdfdf;
	margin-left: -1px;
	text-align: center;
	padding: 10px;
}
.inner-section .col-md-2 h3 {
	font-size: 13px;
	text-transform: uppercase;
}
.grid {
	border: 1px solid #dfdfdf;
	margin-right: -1px;
	padding: 0 30px;
	text-align: center;
	min-height: 190px;
	margin-bottom: -1px;
}
a.handle {
	position: fixed;
	right: 0px;
	    bottom: 0;
	cursor: pointer;
	z-index: 999;
}
.call-back {
	position: fixed;
	left: 0px;
	top: 52%;
	cursor: pointer;
	z-index: 999;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #8BC34A;
	background-color: transparent;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	color: #000;
	background: transparent;
}
span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background: url(../images/mag.png) center center no-repeat;
	cursor: pointer;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	opacity: 0;
}
span.rollover:hover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	left: 0%;
}
a:hover img {
}
h1 .ex-bold {
	text-transform: none;
	font-weight: 600;
	font-size: 15px;
	margin: 0;
	color: #fff!important;
	display: block;
	/* letter-spacing: 1px; */
}
.menu {
	margin: 0px 5px 0 0;
	display: block;
}
.wrapper-content li {
	font-size: 16px;
	margin: 6px 0px;
}
i.fa.fa-arrow-circle-o-right {
	margin-right: 10px;
	margin-left: -27px;
	display: inline-block;
}
.wrapper-amenities {
	background: url(../images/bg-amenities.jpg) no-repeat center fixed;
	background-size: cover;
	padding: 60px 0;
}
.wrapper-amenities h1, .wrapper-amenities p {
	color: #fff;
}
.wrapper-amenities p {
	font-size: 16px;
}
.wrapper-content p {
	font-size: 14px;
	line-height: inherit;
	color: #636363;
	
}
.anchor {
	padding: 56px;
	margin: -56px;
	display: block;
}
.arrow {
	width: 50px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 99;
	transform: translate(-50%, 0);
}
.arrow-up {
	bottom: -60px;
}
.arrow:hover {
	background: rgba(0, 0, 0, 0.26);
	padding: 10px;
}
.inner-section h3 {
	/* letter-spacing: 0px; */
	color: #6b476b;
	margin-bottom: 20px;
	padding: 10px;
	border-left: none;
	border-right: none;
	text-align: center;
	border-top: none;
	/* margin: 0px; */
	/* border-bottom: 1px solid; */
	font-size: 14px;
	font-weight: 600;
	/* background: #803e85; */
}
/* Overline Reveal */
.hvr-bounce-to-bottom {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-bounce-to-bottom:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	background: #2FA234;
	height: 4px;
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
/* Radial Out */
.hvr-radial-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	background: transparent;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-radial-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
	color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}
.inner-wrapper {
	display: table;
	/* margin: 0 0 0; */
	/*background: rgb(255, 255, 255);*/
	padding: 20px 20px 0;
	/* width: 431px; */
	margin-left: 20px;
	border-radius: 5px;
	text-align: left;
}
ul {
	list-style: none;
}
a.navbar-brand {
	color: #2FA234!important;
	font-weight: 800;
	font-size: 18px;
	padding: 8px;
	text-transform: uppercase;
	letter-spacing: 0;
}
.left-div {
	
padding: 20px;
}
.right-div {
	background-size: cover;

	padding: 0px;
}
.dl-icon {
	width: 130px;
	margin: 0;
	padding: 7px 5px 15px!important;
	text-align: center;
	font-weight: 600!important;
	color: #2EA133!important;
}
.timer-body-block {
	background: #196D1D;
	display: table;
	margin: auto;
	padding: 2px 5px;
}
.table-cell {
	color: #fff;
	float: left;
	font-size: 18px;
	text-align: center;
	margin-left: 20px;
}
.tab-metr {
	text-transform: uppercase;
	font-size: 14px;
}
.modal-header{padding: 10px 15px;}
.menu {
    margin: 0px 10px;
}
.wrapper-cta-text h3{font-weight:500; font-size:18px;color: #1F1818;}
.wrapper-cta-text p{color: #353535;}
.wrapper-cta-text {
    padding: 5px;
    /* background: rgba(255, 255, 255, 0.75); */
    color: #fff;
    /* width: 550px; */
}
i.fa.fa-check-circle-o {
    color: #548022;
}
.inner-wrapper h1{
    /* background: #9a65ab; */
    margin-bottom: 0;
    width: auto;
    margin-top: 0;
    margin: 0;
    line-height: inherit;
    color: #fff;
    font-weight: 900;
    font-size: 43px;
    margin-bottom: 11px;
    display: block;
   /* text-shadow: 1px 1px 2px #fefefe;*/
    text-align: left;
    padding: 0;
    text-transform: uppercase;
}
.carousel-indicators {
    bottom: 100px;
}section.wrapper-content h1 {
    margin-top: 56px;
        margin-top: 56px;
    font-size: 24px;
    font-weight: 700;
}
.button-3d {
    background: #8BC34A;
    box-shadow: 0px 3px 0 0 #4c771b;
    PADDING: 6px 12px;
    color: #fff;
    border-color: #8ac249;
    font-size: 14px;
    font-weight: 500;
    /* display: block; */
    margin-top: 10px;
}

.button-3d:hover {
    background: #4b761a;
    box-shadow: 0px 3px 0 0 #4b761a;
    color: #fff;
    border-color: #4b761a;
}

.button-3d:active {
    background: #4b761a;
    box-shadow: 0px 0px 0 0 #4b761a;
    color: #fff;
    border-color: #4b761a;
}
.sh-md{width: 495px;}
.cdmi td{font-weight: 600;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
    background-color: #040404;
    border: 1px solid #000000;
    border-radius: 4PX;
    color: #FFF;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{background: #000000!important;color: #FFF;border: 1px solid #000;}
    .nav-tabs>li>a{
    background: #656565;
    border-radius: 4px;
    color: #fff;
    }
    .modal-content{    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);     border: none;}
    .input-group-addon{    background-color: #000;color: #fbfbfb;}
    .wrap-flat-t{
    /*background: #fff;*/
    /* margin: 10px -20px 0; */
    /* text-align: center; */
    padding: 5px;
    }
 @media (max-width:767px) {
 	.sh-md {
  
    width: 90%;
    margin: 30px auto;
}
.inner-wrapper h1{  margin:auto;     line-height: 38px;}
.wrapper-cta-text{margin: 0 auto 20px;}
.navbar-brand {
	width: 230px;
	padding: 3px;
}
.navbar-default {
	
	z-index: 999;
}
.navbar-default .navbar-nav>li>a {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0px;
	padding: 8px;
	text-align: center;
	color: #000;
	    border-bottom: 1px solid #dfdfdf;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 340px;
    background: #fff;
}
.navbar-default .navbar-toggle {
	border: none;
}
 .navbar-default .navbar-toggle:hover {
    background-color: #000;
}

.intro-image {
	height: 100%;
	background-size: cover;
	background-position: center;
	padding-bottom: 40px;
}
.section-img {
	height: 100%;
}
.section-img .wrapper-intro {
	padding: 20px 20px;
	text-align: left;
}
.section-img .wrapper-intro p {
	text-align: left;
}
.call-back {
	position: absolute;
}
.call-back img {
	width: 75%;
}
a.handle {
	position: fixed;
	right: -50px;
}
a.handle img {
	width: 50%;
}
.inner-section .wrapper-intro {
	padding: 20px;
}
.wrapper-intro h1 {
	font-size: 18px;
}
.wrapper-intro {
	padding: 10px;
	text-align: left;
	position: static;
	/* top: 0px; */
	padding-top: 109px;
}
.intro-text {
	font-size: 16px;
}
.flat-text {
	font-size: 14px;
}
.h3, h3 {
	font-size: 14px;
	letter-spacing: 0px;
	margin: 30px 0px 10px;
}
.inner-page {
	background-size: cover;
	height: 89px;
}
.navbar-brand>img {
	display: block;
	padding: 6px;
	width: 166px;
}
.inner-wrapper {
	width: 100%;
	margin: auto;
	padding: 10px 10px 0px;
}
.wrapper-intro .ex-bold {
	font-weight: 800;
	font-size: 22px;
}
li.call-us {
	padding: 12px 10px;
	text-align: center;
}
.wrapper-form {
    width: 300px;
    display: table;
    margin: 0 auto;
    height: auto;
    float: none;
}
.left-div {
	
}
.right-div {
	
}
h1 .ex-bold {
	font-size: 17px;
}
.h1, h1 {
	font-size: 18px;
}
.wrapper-main{position: static; background: rgba(0, 0, 0, 0.24);}
}

 @media  (min-width:768px) and (max-width:991px) {
 	.intro-image {
    background: url(../images/image1.jpg) no-repeat center;
    background-size: cover;
    height: 1515px!important;}
    .wrapper-form{    display: table;
    margin: 20px auto; }
    .navbar-default .navbar-nav>li>a {
    padding: 23px 4px 0;
    margin-top: 0;
    font-size: 11px;
}

li.call-us {
    padding: 4px 4px;
    margin-top: 14px;
    font-size: 12px;
}
}

@media  (min-width:1025px) and (max-width:1100px){
    .navbar-brand>img {
    width: 140px;}
.navbar-default .navbar-nav>li>a{padding: 20px 5px;
    }
}


@media only screen and (max-width:1024px) and (min-width:768px) and (orientation:landscape) {
.navbar-default .navbar-nav>li>a{    padding: 20px 4px;}
.navbar-brand>img {
	display: block;
	width: 115px;
	margin: 8px 0px;
}

.inner-wrapper {
	margin: 20px 0 0
}
.wrapper-intro .ex-bold {
	font-weight: 900;
	font-size: 25px;
}
.navbar-brand {
	height: 20px;
}
.wrapper-main {
	padding: 0;
	text-align: left;
	margin-top: 28px;
}
span.offer-div {
	margin-top: 95px;
}.body-part h1 {
    margin-top: 74px;
}
.wrapper-form {
    display: table;
    margin: 20px auto;
    height: auto;
    float: none;
}
span.offer-div {
    margin-top: 0;}
}
@media only screen and (max-width:1024px) and (min-width:768px) and (orientation:portrait) {
.navbar-default .navbar-nav>li>a {
	padding: 18px 7px 0px;
	text-transform: none;
	font-size: 13px;
	font-weight: 500;
}
.navbar-brand>img {
	    width: 100px;
}
li.call-us {
	padding: 7px 5px;
	text-align: center;
	font-size: 11px;
	margin-top: 0px;
}
.navbar-brand {
	width: initial;
	padding: 3px;
	height: 20px;
}
.navbar-right {
	float: right!important;
	margin-right: -15px;
	
}
.wrapper-main {
	padding: 0;
	text-align: left;
	margin-top: 30px;
}
}
 @media (max-width:320px) {
.navbar-brand>img {
}
.wrapper-intro {
}
}
